body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    color: #333;
}

.img {
    max-width: 100%;
    height: auto;
}

.a img {
    max-height: 30px;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Adjust as needed */
    width: 90%;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.social-links {
    margin-top: 30px;
}

.social-links a {
    margin: 0 10px;
    display: inline-block;
}

@media (max-width: 480px) {
    .profile-photo {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}
